<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
   <div class="container">
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fist_name %><br>
    <%= f.text_field :fist_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  
  <ul class ="nav nav-tabs">
  <div class="actions">
    <%= f.submit %>
    </div>
  </ul>
<ul class ="nav nav-tabs">
<%= link_to 'Back', contacts_path %></ul>
</div>
<% end %>
