<!DOCTYPE html>
<html>
<head>
  <title>Contactmanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'search', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<ul class ="nav nav-tabs">
  <li><%= link_to 'CBI', contacts_path %></li>
  <li><%= link_to 'Contacts', contacts_path %></li>
</ul>
<%= yield %>

</div>

</body>
</html>
